<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/sidebar-admin.css">
    <link rel="stylesheet" href="/css/colors.css">


    <link rel="stylesheet" href="/css/reserve.css">


    <title>{{title}}</title>
    <script defer src="/js/reservation.js"></script>
</head>

{{#if isStudent}}
{{!-- student sidebar --}}
<aside class="Sidebar">
    <div class="image-container">
      <img src="assets/jeongwoo.jpg" alt="userpfp" id="userpfp">
      <br>
      <br>
    </div>
  
    <ul class="sidebar-links">
      <li>
        <br><br>
        <a href="/home">Reserve</a>
      </li>
      <li>
        <br><br>
        <a href="/reserve">My Reservations</a>
      </li>
      <li>
        <br><br>
        <a href="/profile" id="profile">My Profile</a>
      </li>
      <li>
        <br><br><br>
        <a href="/" id="logout">Logout</a>
      </li>
    </ul>
  </aside>

{{else}}
{{!-- admin's sidebar --}}
  <aside class="sidebar-admin">
    <div class="image-container">
        <img src="assets/jeongwoo.jpg" alt="userpfp" id="userpfp"> <br> <br>
    </div>

    <ul class="sidebar-links">
        <li> <br><br>
            <a href="/home">Reserve</a>
        </li>
        <li> <br><br>
            <a href="/reserve">View Reservations</a>
        </li>
        <li><br><br>
            <a href="/profile" id="profile">My Profile</a>
        </li>
        <li>
        <br><br><br>
        <a href="/" id="logout">Logout</a>
      </li>
    </ul>
</aside>
{{/if}}


<body>
    <div class="notSidebar">

        <div class="greeting">
            {{!-- change the handlebar to the actual chosen lab --}}
            <h1 id="lab-name"> Laboratory <span id="lab_id">{{lab.lab_name}}</span></h1>
            <input type="hidden" id="lab_database_id" value="{{lab.lab_name}}">

            <h2 id="usernameid"> Hello, {{username}} </h2>
        </div>

        <div class="instruction"> <h3>Please select your preferred schedule and seat</h3></div>


        
        <div class="elements-container">

            <div class="left-panel">
            
            {{!-- appears only when the user's role is admin --}}
            {{#if admin_status}}
            <div class="name-box">
              <label for="reserveFor">Reserve for:</label>
              <input type="text" id="reserveFor" name="reserveForUser" maxlength="50">  
            </div>
            {{/if}}
            
                <form class="reserve-form" action="/reservation/{{lab.lab_name}}" method="post">
                    <input type="hidden" id="selected-seat" name="selected-seat" value="">
                    <div class="date-time">
                        <label for="datesLabel">Choose a date: </label>
                        <select id="dates" name="dates">
                            <!-- Date options will be populated by JavaScript -->
                        </select>
                        <br>
                        <label for="start_times">Choose a start time: </label>
                        <select id="start_time" name="start_time">
                            {{#if start_time}}
                                <option value="{{ start_time }}" selected>{{ start_time }}</option>
                            {{/if}}
                        </select>
                        <br>
                        <label for="end_times">Choose an end time: </label>
                        <select id="end_time" name="end_time">
                            {{#if end_time}}
                                <option value="{{ end_time }}" selected>{{ end_time }}</option>
                            {{/if}}
                        </select>

                        <button type="button" id="check_availability" class="check-availability-button">Check Availability</button>

                        <button id="reserve-button" class="reserve-button" type="button">Reserve</button>
                    </div>
                </form>
            </div>
           
            <div class="right-panel">

                <div class="legend">
                    <span class="label">Legend</span>
                    <div class="legend-icons">
                        <div class="available">
                            <img src="/assets/available.png" alt="Available Seat"> 
                            <span class="label">Available</span>
                        </div>

                        <div class="selected">
                            <img src="/assets/selected.png" alt="Selected Seat">
                            <span class="label">Selected</span>
                        </div>

                        <div class="taken">
                            <img src="/assets/taken.png" alt="Taken Seat">  
                            <span class="label">Taken</span>
                        </div>
                     </div>
                </div>
                 <div class="seats-container">
             <!-- 
             Seat Layout: The seats array should be ordered as: 1A, 2A, 3A, 4A, 5A, 6A, 7A, 8A, 9A, 10A, 11A, 12A, 13A, 14A, 15A, 16A, 17A, 18A
             Left Column: Seats 1A-9A in 3 rows (indices 0-8)
             Right Column: Seats 10A-18A in 3 rows (indices 9-17)
             -->
             <div class="container-left">
                 <div class="seat-area">
                     <!-- Row 1: Seats 1A, 2A, 3A -->
                     <div class="seat-row">
                         {{#each lab.seats}}
                             {{#if (and (gte @index 0) (lte @index 2))}}
                             <div class="seat-container">
                                 <img id="{{this.id}}" class="seat" src="{{#if this.is_taken}}/assets/taken.png{{else}}/assets/available.png{{/if}}" alt="{{#if this.is_taken}}Taken Seat{{else}}Available Seat{{/if}}" onclick="{{#unless this.is_taken}}toggleSeatStatus('{{this.id}}'){{/unless}}" data-seat-num="{{this.seat_num}}">
                             </div>
                             {{/if}}
                         {{/each}}
                     </div>
                     
                     <!-- Row 2: Seats 4A, 5A, 6A -->
                     <div class="seat-row">
                         {{#each lab.seats}}
                             {{#if (and (gte @index 3) (lte @index 5))}}
                             <div class="seat-container">
                                 <img id="{{this.id}}" class="seat" src="{{#if this.is_taken}}/assets/taken.png{{else}}/assets/available.png{{/if}}" alt="{{#if this.is_taken}}Taken Seat{{else}}Available Seat{{/if}}" onclick="{{#unless this.is_taken}}toggleSeatStatus('{{this.id}}'){{/unless}}" data-seat-num="{{this.seat_num}}">
                             </div>
                             {{/if}}
                         {{/each}}
                     </div>
                     
                     <!-- Row 3: Seats 7A, 8A, 9A -->
                     <div class="seat-row">
                         {{#each lab.seats}}
                             {{#if (and (gte @index 6) (lte @index 8))}}
                             <div class="seat-container">
                                 <img id="{{this.id}}" class="seat" src="{{#if this.is_taken}}/assets/taken.png{{else}}/assets/available.png{{/if}}" alt="{{#if this.is_taken}}Taken Seat{{else}}Available Seat{{/if}}" onclick="{{#unless this.is_taken}}toggleSeatStatus('{{this.id}}'){{/unless}}" data-seat-num="{{this.seat_num}}">
                             </div>
                             {{/if}}
                         {{/each}}
                     </div>
                 </div>
             </div>
             
             <!-- Right Column: Seats 10A-18A in 3 rows -->
             <div class="container-right">
                 <div class="seat-area">
                     <!-- Row 1: Seats 10A, 11A, 12A -->
                     <div class="seat-row">
                         {{#each lab.seats}}
                             {{#if (and (gte @index 9) (lte @index 11))}}
                             <div class="seat-container">
                                 <img id="{{this.id}}" class="seat" src="{{#if this.is_taken}}/assets/taken.png{{else}}/assets/available.png{{/if}}" alt="{{#if this.is_taken}}Taken Seat{{else}}Available Seat{{/if}}" onclick="{{#unless this.is_taken}}toggleSeatStatus('{{this.id}}'){{/unless}}" data-seat-num="{{this.seat_num}}">
                             </div>
                             {{/if}}
                         {{/each}}
                     </div>
                     
                     <!-- Row 2: Seats 13A, 14A, 15A -->
                     <div class="seat-row">
                         {{#each lab.seats}}
                             {{#if (and (gte @index 12) (lte @index 14))}}
                             <div class="seat-container">
                                 <img id="{{this.id}}" class="seat" src="{{#if this.is_taken}}/assets/taken.png{{else}}/assets/available.png{{/if}}" alt="{{#if this.is_taken}}Taken Seat{{else}}Available Seat{{/if}}" onclick="{{#unless this.is_taken}}toggleSeatStatus('{{this.id}}'){{/unless}}" data-seat-num="{{this.seat_num}}">
                             </div>
                             {{/if}}
                         {{/each}}
                     </div>
                     
                     <!-- Row 3: Seats 16A, 17A, 18A -->
                     <div class="seat-row">
                         {{#each lab.seats}}
                             {{#if (and (gte @index 15) (lte @index 17))}}
                             <div class="seat-container">
                                 <img id="{{this.id}}" class="seat" src="{{#if this.is_taken}}/assets/taken.png{{else}}/assets/available.png{{/if}}" alt="{{#if this.is_taken}}Taken Seat{{else}}Available Seat{{/if}}" onclick="{{#unless this.is_taken}}toggleSeatStatus('{{this.id}}'){{/unless}}" data-seat-num="{{this.seat_num}}">
                             </div>
                             {{/if}}
                         {{/each}}
                     </div>
                 </div>
             </div>
         </div>

            </div>
            </div> {{!-- end of right panel div --}}
            
        </div> {{!-- end of elements container div --}}
        <div id="confirmationPopup" style="display: none;">
        <h2>{{confirmationMessage}}</h2>
    </div>

    </div>

</body>
</html>